@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #ffffff !important;
}

.transparent-background {
  background-color: rgba(0, 0, 0, 0.266);
}

.auth__backgroundImage {
  background-color: #c1cf16;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tooltip {
  border-radius: 0.35rem;
  background: #3a3a3c;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0);
  text-align: center;
}

.ant-alert-description {
  text-align: left;
}

/* Input */
.custom-password-icon .ant-input-password-icon {
  @apply text-secondary;
  cursor: pointer;
}

.custom-input-text .ant-input {
  @apply text-secondary;
}

.custom-input-password-text .ant-input-password {
  @apply text-secondary;
}

/* Custom placeholder color for Ant Design inputs */
.ant-input::placeholder {
  color: #79878f !important;
}

.ant-input-affix-wrapper input::placeholder {
  color: #79878f !important;
}

.ant-input-password input::placeholder {
  color: #79878f !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

*::-webkit-scrollbar {
  width: 0.3em;
  height: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background-color: #434242;
}
